/*======================
	Index Page
========================*/
body{font-family: "Roboto"}
.cs-mainContent{width: 100%; margin: 0 auto;}
.cs-mainContent header{text-align: center;background-color: #F7F7F7;top: 0;left: 0;width: 100%;overflow: hidden;-moz-box-shadow: 0px 1px 6px #030000;-webkit-box-shadow:0px 1px 6px #030000;box-shadow: 0px 1px 6px #030000;position: fixed;z-index: 10;}
.cs-mainContent header .cs-index{text-decoration: none;color: #333;}
.cs-mainContent .cs-both-top{margin-top:90px; }


/*======================
	Popular Shots Page
========================*/

/* Pagination */
.cs-mainContent .cs-popularShotsPage {margin: 0 auto;}
.cs-mainContent .cs-popularShotsPage .cs-pages {margin: 15px 0;}
.cs-mainContent .cs-popularShotsPage .cs-pages .cs-pagination{text-align: center}
.cs-mainContent .cs-popularShotsPage .cs-pages .cs-pagination .cs-btn-pages{cursor:pointer;color: #E4E8E8; font-size:35px;border:1px solid rgba(0,0,0,0.05);border-radius:50%;padding: 3px 17px;display: inline-block;width: 56px;height: 56px; background-color: rgba(0,0,0,0.2);vertical-align: middle;}
/* Thumbnails*/
.cs-mainContent .cs-popularShotsPage .grid {margin: 0;}
.cs-mainContent .cs-popularShotsPage .grid .grid-item {width: 220px;text-decoration: none;}
.cs-mainContent .cs-popularShotsPage .grid .grid-item .thumbnail {box-shadow: 0 1px 3px rgba(0,0,0,0.5);}
.cs-mainContent .cs-popularShotsPage .grid .grid-item .thumbnail:hover {background-color: #E9E9E9;box-shadow: 0 4px 10px rgba(0,0,0,0.5);}
.cs-mainContent .cs-popularShotsPage .grid .grid-item .thumbnail img {border: 1px solid #c8caca;border-radius: 3px;}    
.cs-mainContent .cs-popularShotsPage .grid .grid-item .thumbnail .cs-infos {text-align: center;height: 55px;overflow-y: hidden;}
.cs-mainContent .cs-popularShotsPage .grid .grid-item .thumbnail .cs-infos .cs-title {height: 30px;overflow-y: hidden;}
/* Modal */
.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content {max-width: 300px;margin:0 auto;word-wrap:break-word;}
.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content .modal-header {text-align: center;}
.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content .modal-body figure {position:relative;}
.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content .modal-body figure .cs-largePhoto {width: 265px;border: 1px solid #c8caca;border-radius: 4px;}
.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content .modal-body figure .cs-infosPhoto { color: white;padding: 5px 5px 0; border-radius: 0 0 4px 4px;bottom: 0;width:99%;position: absolute;background-color: rgba(0,0,0,0.6);}
.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content .modal-body .cs-player {margin-top: 15px;}
.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content .modal-body .cs-player .cs-avatar {width: 60px;height: 60px;border-radius: 50%;vertical-align: top;}
.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content .modal-body .cs-player .cs-info {padding-left:10px;display: inline-block;}
.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content .modal-body .cs-player .cs-info label{margin: 0;}


/*===================
	Breakpoints
=====================*/
@media (max-width: 767px){
	.cs-mainContent .cs-mainContainer ,.cs-mainContent .cs-popularShotsPage .cs-thumbs {padding: 0;}
	
}
@media (max-width: 710px){
	.cs-mainContent .cs-popularShotsPage .grid .grid-item {width: 50%; padding: 5px 0;}    	
	.cs-mainContent .cs-popularShotsPage .grid .grid-item .thumbnail {width: 220px;margin: 0 auto;}
}

@media (max-width: 520px){
	.cs-mainContent .cs-popularShotsPage .grid .grid-item {width: 100%;}    
}

@media (max-width: 301px){
	.cs-mainContent .cs-popularShotsPage .modal .modal-dialog .modal-content .modal-body figure .cs-largePhoto {width: 100%;}
}