<!-- Popular Shots Page -->
<section class="cs-detailsPopularShotsPage" ng-controller="detailspopularShots" ng-cloak>
    <article class="cs-status">
        <figure>
            <article class="cs-figure">
                <a href="/api__dribbble/#/" class="btn btn-primary btn-sm btn-back">
                    <div class="cs-arrow arrow-left"></div>
                    <div class="cs-back inline-block">Back</div>
                </a>
                <img class="cs-largePhoto" ng-src="{{showDetails.image_url}}">
                <div class="cs-infosPhoto">
                    <div class="cs-infoPhoto">Views: {{showDetails.views_count}}</div>
                    <div class="cs-infoPhoto">Likes: {{showDetails.likes_count}}</div>
                </div>
            </article>
        </figure>
        <article class="cs-description">
            <div class="cs-player">
                <img class="cs-avatar" ng-src="{{showDetails.player.avatar_url}}" alt="{{showDetails.player.name}}">
                <div class="cs-info">
                    <div><label for="name">{{showDetails.player.name}}</label></div>
                    <div><span>{{showDetails.player.location}}</span></div>
                    <div><label for="followers">Seguidores: {{showDetails.player.followers_count}}</label></div>
                </div>
                <div class="cs-text">
                    <p>{{showDetailsDescription}}</p>
                </div>
            </div>
        </article>
    </article>

    
</section>
