
    <!-- Modal about shot -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          
          <div class="modal-header">
             <h3>{{detailsShot.title}}</h3>
          </div>          
          <div class="modal-body">
            <article>
                <figure>
                    <img class="cs-largePhoto" ng-src="{{detailsShot.image_url}}">
                    <div class="cs-infosPhoto">
                        <div class="cs-infoPhoto">Views: {{detailsShot.views_count}}</div>
                        <div class="cs-infoPhoto">Likes: {{detailsShot.likes_count}}</div>
                    </div>
                </figure>
                <article>
                    <div class="cs-player">
                        <img class="cs-avatar" src="{{detailsShot.player.avatar_url}}" alt="{{detailsShot.player.name}}">
                        <div class="cs-info">
                            <div><label for="name">{{detailsShot.player.name}}</label></div>
                            <div><span>{{detailsShot.player.location}}</span></div>
                            <div><label for="followers">Seguidores: {{detailsShot.player.followers_count}}</label></div>
                        </div>
                    </div>
                </article>
            </article>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

